{% extends "base.html" %}

{% block main %}
<p>
        <button onclick="myFunction()" type="submit" class="btn btn-default btn-sm">
            Select Genres
        </button>
</p>
<div id="myDIV" style="display:none">
    {% include 'movies_crud/genres_form.html' %}
</div>

{% for object in object_list %}
<div>
    <p>
        <!--<a href="/movies_nonhegemony/{{object.id}}">{{ object.title }}</a><br/>-->
        <u>{{ object.title }}</u> <br/>
        {% if object.production_countries %}
        Production countries: {{ object.production_countries }} <br/>
        {% endif %}
        {% if object.release_date %}
        Release date: {{ object.release_date }} <br/>
        {% endif %}
        {% if object.genres %}
        Genres: {{ object.genres }} <br/>
        {% endif %}
        {% if object.overview %}
        Overview: {{ object.overview }} <br/>
        {% endif %}
        {% if object.videos %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ object.videos }}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        {% endif %}
    </p>
</div>
{% endfor %}

<!--{% if movie.images %}
    Image url: {{ movie.images }} <br/>
    <img src="https://image.tmdb.org/t/p/w154{{ movie.images }}"> <alt="Image for {{ movie.title }}"><br/>
    {% endif %}-->

<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

{% endblock %}
